<div class="jumbotron">
    <h1>Recipes</h1>
    <p class="lead">The best recipes from around the world!</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>You can add your own recipe!</h2>
        <p>Do it now!</p>
    </div>
</div>