#Won{
width:600px;
height:325px;
border-style:solid;
border-color:black;
background-color:#FFFF99;
border-width:5px;
position:absolute;
top:164px;
left:350px;
visibility:visible;
border-radius:10px;
text-align:center;
font-size:30px;
padding:25px;

}
#startGame
{
width:768px;
height:512px;
border-style:solid;
border-color:black;
background-color:#FFFF99;
border-width:5px;
position:absolute;
top:100px;
left:300px;
visibility:visible;
border-radius:10px;
text-align:center;
font-size:30px;
}
button{
width:150px;
height:40px;
position:absolute;
top:50%;
left:42%;
border-radius:10px;
background-color:#FFFF99;
border-width:5px;
border-style:outset}
button:hover{background-color:#CCCC7A;
border-style:inset;}

canvas {position:absolute;
top:100px;
left:300px;
border-radius:10px;}