doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/require.js" data-main="javascripts/Main")
    script(src="javascripts/lib/jquery-2.1.1.js")
  //  script(src="/socket.io/socket.io.js")
    script(src="javascripts/Control.js")
  body
    block content