body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#recipesAppDiv {
border: solid 3px black;
}
#detailsDiv {
border: solid 3px;
}
#allRecipes {
position:relative;

}
#allRecipes div {

    /*overflow-y:scroll;*/
border: solid 1px grey!important;
padding:5px;
border-radius:3px;
display:inline-block !important;
float:left;
margin:1%;
    max-width: 320px;
    max-height: 240px;
    background-color:#383838;
     width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 15px;
    color:white;
}
#deleteRcpBtn {
float:right;
}
.fa {
/*background-color:none !important;*/
border:none !important;
outline:none;
line-height:initial!important;
border-radius:3px;
}
    .fa:hover, .fa:hover:focus {
       
        line-height:initial!important;
    transform: rotateY(180deg);
    transition: 0.3s;
    }
#recipeImage, #recipeContent {
min-width:30px;
min-height:30px;
max-height:200px;
margin-left:40px;
margin-bottom:2em;
}
#recipeImage img{
display:inline;
float:left;
max-width:400px;
max-height:400px;
padding:1.5em;
border: solid 1px white;
margin-top:1em;
}
#recipeContent {
/*float:right;
margin-right*/
display:inline-block;
font-size:1.5em;
}
footer {
  position:fixed;
    height:50px;
  
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
color:yellow
}
#recipesAppDiv {
/*background-image:url("Images/foodBG.jpg");*/
 background:rgba(255,255,255,0.5);
  height: 100%;
    width: 100%;
    border: 1px solid #383838;
    overflow: hidden;

}
.clear { clear: both; }
body {
background-size:cover;
background-image:url(Images/spices.jpg);
background-repeat:no-repeat;
background-color:#383838;
 margin-bottom:50px;
}
#detailsDivId {
min-height:3%;
height:400px;
}
#threeDots i {


}
#threeDots {
    margin-top:5em;
text-align: center;
vertical-align: middle;
line-height: 90px; 
}

#scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 40%;
    right: 1em;
    display: none;
    color:white;
    opacity:.8;
    
}
    #scrollup:hover {
    text-decoration:none;
     transform:none;
    transition:none;
    opacity:1;
    }
#createbtnId {
border:solid 2px  #383838;
border-radius:3px;
width:1em;
padding:.1em;
margin-bottom:.3em;
text-align:center;
color:white;
font-size:2em;
}